# App
PORT='3000'

# Database
DB_HOST='localhost'
DB_USER='postgres'
DB_PSWD='postgrespw'
DB_NAME='db-name'
DB_PORT='5432'

# Jwt_secret
CONFIG_JWT_SECRET='secret'

# google oauth
GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''
GOOGLE_CALLBACK='http://localhost/google-redirect'